<section class="block-three-wrapper d-flex justify-content-center">
  <div class="connect-info__container">
    <div class="connect-info__item">
      <div class="connect-info__option mob-email-padding">
        <div class="option__icon">
          <img src="assets/img/hand-img.png" alt="hand" />
        </div>
        <div class="option__title">
          <h2>Зіткнулися з корупцією?</h2>
          <div *ngIf="portableScreen" class="method-margin method-info">{{ contacts.email }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!portableScreen" class="connect-info__method method-read-us">
      <div class="method-title">Пишіть нам</div>
      <div class="method-margin method-info">{{ contacts.email }}</div>
    </div>
    <div class="connect-info__item">
      <div class="connect-info__option bot">
        <div class="option__icon">
          <img src="assets/img/cloud-img.png" alt="cloud" />
        </div>
        <div class="option__title">
          <h2>Напишіть у чат-бот</h2>
          <div *ngIf="portableScreen" class="method-icon-block">
            <a href="https://chats.viber.com/diia_help_bot" class="icon-block__button" target="_blank">
              <button>
                <img src="assets/img/viber-img.png" alt="viber" />
              </button>
            </a>
            <a href="https://t.me/mintsyfra" class="icon-block__button" target="_blank">
              <button>
                <img src="assets/img/telegramm.png" alt="telegram" />
              </button>
            </a>
            <a href="https://www.facebook.com/mintsyfra/" class="icon-block__button" target="_blank">
              <button>
                <img src="assets/img/facebook-img.png" alt="facebook" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!portableScreen" class="connect-info__method method-bot-padding">
      <div *ngIf="!portableScreen" class="method-title">Оберіть месенджер</div>
      <div class="method-icon-block">
        <a href="https://chats.viber.com/diia_help_bot" class="icon-block__button" target="_blank">
          <button>
            <img src="assets/img/viber-img.png" alt="viber" />
          </button>
        </a>
        <a href="https://t.me/mintsyfra" class="icon-block__button" target="_blank">
          <button>
            <img src="assets/img/icons/telegram-icon.svg" alt="telegram" />
          </button>
        </a>
        <a href="https://www.facebook.com/mintsyfra/" class="icon-block__button" target="_blank">
          <button>
            <img src="assets/img/facebook-img.png" alt="facebook" />
          </button>
        </a>
      </div>
    </div>
    <div class="connect-info__item info-phone-padding">
      <div class="connect-info__option">
        <div class="option__icon">
          <img src="assets/img/phone-img.png" alt="phone" />
        </div>
        <div class="option__title">
          <h2>Зателефонуйте на гарячу лінію</h2>
          <div *ngIf="portableScreen" class="method-margin method-info">{{ contacts.phone }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!portableScreen" class="connect-info__method method-phone-padding">
      <div class="method-title">Працює з 09:00 до 18:00</div>
      <div class="method-margin method-info">{{ contacts.phone }}</div>
    </div>
  </div>
</section>
