<div class="modal-wrapper">
  <div class="modal-card">
    <div class="modal__container">
      <div>
        <h1>Дякуємо</h1>
      </div>
      <div class="modal__text">Ми відправили лист на вашу пошту. Будь ласка, підтвердіть підписку.</div>
      <button class="modal__btn" (click)="closeModal()">Ok</button>
    </div>
    <div class="close__btn">
      <button (click)="closeModal()">
        <img src="assets/img/icons/cross.svg" alt="close-cross" />
      </button>
    </div>
  </div>
</div>
