@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.modal-wrapper {
  position: relative;

  .modal-card {
    width: 664px;
    height: 441px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    transition: 0.3s;
    padding: 52px 0 0 64px;

    h2 {
      font-size: 56px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: -0.02em;

      @include media-breakpoint-down(sm) {
        font-size: 26px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 288px;
      height: 249px;
      padding: 40px 0 0 18px;
    }
  }
}

.modal__text {
  margin-top: 43px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    max-width: 248px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.02em;
  }
}

.modal-window-container {
  position: relative;
}

.modal__btn {
  height: 65px;
  width: 192px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  border-radius: 50px;

  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 184px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-top: 20px;
  }
}

.close__btn {
  width: 37.59px;
  position: absolute;
  top: 12%;
  left: 86%;

  @include media-breakpoint-down(sm) {
    width: 16px;
    top: 6%;
    left: 89%;
  }
}
