@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.block-four-wrapper {
  min-height: 452px;
  width: 100%;
  background: rgba(255, 205, 78, 1);

  @include media-breakpoint-down(sm) {
    min-height: 418px;
  }
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    padding-left: 16px;
  }
}

.news-item {
  padding-top: 114px;
  padding-left: 256px;

  @include media-breakpoint-down(md) {
    padding-left: 85px;
  }


  @include media-breakpoint-down(sm) {
    padding-top: 54px;
    padding-left: 0;
  }

  .news-item__title {
    max-width: 360px;

    h1 {
      font-size: 56px;
      font-weight: 400;
      line-height: 67px;
      letter-spacing: -0.02em;

      @include media-breakpoint-down(sm) {
        font-size: 26px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: -0.02em;
      }
    }
  }

  .news-item__text {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.02em;
    }
  }
}

.news-form-container {
  margin-top: 121px;
  margin-left: 113px;

  @include media-breakpoint-down(sm) {
    margin-top: 79px;
    margin-left: 0;
  }

  .form__card {
    display: flex;
    flex-direction: column;

    input::placeholder {
      transform: translateY(-20%);
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0;
    }
  }

  .form__submit-button {
    margin-top: 27px;
    width: 294px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    border-radius: 40px;

    &:hover {
      background: #545416;
      transition: 0.5s;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 34px;
      width: 184px;
      height: 48px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;

      &:hover {
        background: #000000;
      }
    }
  }

  .form__label {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
  }

  .email-input {
    max-width: 293px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    outline: none;
    background: transparent;

    @include media-breakpoint-down(sm) {
      max-width: 288px;
      height: 26px;
    }
  }
}

.news-form__text {
  margin-top: 21px;
  max-width: 258px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  @include media-breakpoint-down(sm) {
    margin-top: 13px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
  }
}

.error-massage-width {
  max-width: 294px;
}
