<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-card">
      <div class="footer-logo">
        <img src="assets/img/icons/kabmin-footer-logo.svg" alt="kabmin-logo" />
      </div>
      <div class="footer-contact">
        <div class="contacts-nets">
          <a href="https://www.facebook.com/mintsyfra/" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/facebook-f.svg" alt="facebook" class="contacts__img" />
            </button>
          </a>
          <a href="https://twitter.com/mintsyfra" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/twitter-f.svg" alt="twitter" class="contacts__img" />
            </button>
          </a>
          <a href="https://t.me/mintsyfra" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/telegram-f.svg" alt="telegram" class="contacts__img" />
            </button>
          </a>
          <a href="https://instagram.com/mintsyfra.official" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/instagram-f.svg" alt="instagram" class="contacts__img" />
            </button>
          </a>
          <a href="https://www.youtube.com/channel/UCJpDqJoUTcjMJgBY-DRtfcg" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/youtube-f.svg" alt="youtube" class="contacts__img" />
            </button>
          </a>
          <a href="https://t.me/mincifra_bot" class="contacts-icons" target="_blank">
            <button>
              <img src="assets/img/icons/watsapp-f.svg" alt="fbmessanger" class="contacts__img" />
            </button>
          </a>
        </div>
        <div class="contacts-emails">
          <a href="mailto:pr@thedigital.gov.ua" class="emails__item" target="_blank">pr@thedigital.gov.ua</a>
          <a href="mailto:hello@thedigital.gov.ua" class="emails__item email-margin" target="_blank">hello@thedigital.gov.ua</a>
        </div>
      </div>
    </div>
    <div class="license license-margin">© 2020 Весь контент доступний за ліцензією</div>
    <div class="license">Creative Commons Attribution 4.0 International license ,якщо не зазначено інше</div>
  </div>
</footer>
